:root{
  --barcolor: var(--main);
  --bardepth: 0.5vh;
  --bargin: 1vh;
  --barshadow: 0vh 0.1vh 1vh #000000;
}

.bars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-color: black;*/
}

.bar-top{
  position: absolute;
  width: 100%;
  height: var(--bardepth);
  top: var(--bargin);
  background-color: var(--barcolor);
  box-shadow: var(--barshadow);
}

.bar-left{
  position: absolute;
  width: var(--bardepth);
  height: 100%;
  left: var(--bargin);
  background-color: var(--barcolor);
  box-shadow: var(--barshadow);
}

.bar-right{
  position: absolute;
  width: var(--bardepth);
  height: 100%;
  right: var(--bargin);
  background-color: var(--barcolor);
  box-shadow: var(--barshadow);
}

.bar-bottom{
  position: absolute;
  width: 100%;
  height: var(--bardepth);
  bottom: var(--bargin);
  background-color: var(--barcolor);
  box-shadow: var(--barshadow);
}

.center-bar {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 15%;
  background-color: var(--barcolor);
  box-shadow: var(--barshadow);
}

.bg-paper{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/paper-texture.jpg);
  background-size: cover;
  mix-blend-mode: color-burn;
}
