:root{
  --main : #8fd4d1;
  --main-dark : #479a9a;
  --bgcolor : #f7f2e3;
}

  body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

  }

  p{
    margin: 0px;
    padding: 0px;
  }

  .header{
    display: flex;
    align-items: flex-end;
    margin: 0px;
    padding: 0px;
    width: inherit;
    height: 14%;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin: 0px;
    font-family: 'Black Han Sans', sans-serif;
    font-style: italic;
    font-size: 6vh;
    line-height: 80%;
    text-shadow: 0.3vw 0.3vh 0.4vh var(--main-dark);
    color: white;
  }

  .bg-container{
    position: absolute;
    width: inherit;
    height: inherit;
    /*background: linear-gradient(183deg, #edf3f2, #b8d9dd, #f2dede, #f7f1f1) no-repeat center center fixed;*/
    background: radial-gradient( circle farthest-corner at 50% 130%, var(--main) 0%, var(--main) 10%, var(--bgcolor) 100%) no-repeat center center fixed;
    /*background: radial-gradient( circle farthest-corner at 50% 130%,  #394242 0%, #394242 20%, #f7f2e3 100%) no-repeat center center fixed;*/
    /*background: radial-gradient( circle farthest-corner at 50% 130%,  #db929e 0%, #db929e 20%, #f7f2e3 100%) no-repeat center center fixed;*/
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

  #particles-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
  }
  #particles-container-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
  }


  .bg-lace {
    position: absolute;
    width: 100%;
    height: 40%;
    background-image: url(../images/header.svg);
    background-repeat: repeat;
    background-size: contain;
    mix-blend-mode: color-burn;
    opacity: 1.0;

  }

  .footer-bar{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10%;

    background: linear-gradient(white 0%, var(--main-dark) 100%);
    mix-blend-mode: multiply;
    opacity: 0.5;
  }


  .swiper-container{
    /*background-color: black;*/
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 100%;

    height: 85%;
    transform: translate(-50%, -47%);
    text-align: center;
  }



  .swiper-wrapper{
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    width: inherit;
    height: 95%;
  }

  .swiper-slide{
    width: inherit;
    height: 100%;
  }

  .swiper-slide img{
    max-height: inherit;
    width: auto;
    height: inherit;

  }

  .title-container{
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5vh;
  }

  .title-container img{
    width: 45vh;
  }

  .swiper-pagination{
    padding-top: 100px;
  }

.swiper-pagination-bullet{
  mix-blend-mode: multiply;
}

.swiper-pagination-bullet-active{
  background: var(--main-dark);
}
