/* Reset. */
body {
  margin: 0;
  background: linear-gradient(270deg, #c3f7ea, #cdf2fd, #f3ceed, #fffef3);
}

/* Particle container. */
#particle-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
